@model Applespace.Models.Clientes

@{
    ViewData["Title"] = "Meu Perfil";
    Layout = "_LayoutLogin";
}

<div class="container mt-5 mb-5 " style="max-width: 800px">
    <h2 class="text-center mb-4">Olá, @Model.Nome </h2>
    <h5 class="text-center text-muted small"> Veja as opções da sua conta </h5>

    <form id="form1" runat="server">
        <div class="container py-4">
            <div class="row">
                <!-- Meus Pedidos -->
                <div class="col-md-6 mb-4">
                    <h4>Meus Pedidos</h4>
                    <div class="card h-100 shadow">
                        <div class="card-body">
                            <a href="#" class="d-block text-decoration-none text-dark">Pedidos em Entrega</a>
                            <a href="#" class="d-block text-decoration-none text-dark">Histórico de Pedidos</a>
                        </div>
                    </div>
                </div>

                <!-- Meu Cadastro -->
                <div class="col-md-6 mb-4">
                    <h4>Meu Cadastro</h4>
                    <div class="card h-100 shadow">
                        <div class="card-body">
                            <a href="AlterarPerfil" class="d-block text-decoration-none text-dark mb-2">Alterar Dados Pessoais</a>
                            <a href="#" class="d-block text-decoration-none text-dark mb-2">Excluir Perfil</a>
                            <a asp-controller="Login" asp-action="Logout" class="d-block text-decoration-none text-dark mb-2">Encerrar Sessão</a>

                        </div>
                    </div>
                </div>

                <!-- Atendimento ao cliente -->
                <div class="col-md-6 mt-4 mb-4">
                    <h4>Atendimento ao Cliente</h4>
                    <div class="card h-100 shadow">
                        <div class="card-body">
                            <a href="https://wa.me/5511949589464?text=Ol%C3%A1,%20gostaria%20de%20tirar%20uma%20d%C3%BAvida" class="d-block text-decoration-none text-dark mb-2">SAC</a>
                            <a href="mailto:mlira3083@gmail.com" class="d-block text-decoration-none text-dark mb-2">Enviem-nos um Email</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


