@model Applespace.Models.Produtos

@{
    ViewData["Title"] = "Alterar Produto";
    Layout = "_LayoutLogin";
}

<div class="container my-5">
    <form asp-action="AlterarProduto" method="post" class="bg-white p-4 rounded shadow-sm" style="max-width: 600px; margin: auto;">
        <input type="hidden" asp-for="codBarra" />

        <h2 class="mb-4 text-center">Alterar Produto</h2>

        <div class="mb-3">
            <label class="form-label">Nome:</label>
            <input asp-for="nome" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Preço:</label>
            <input asp-for="valor" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Categoria (ID):</label>
            <input asp-for="idCate" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Descrição:</label>
            <input asp-for="descricao" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Link da Imagem:</label>
            <input asp-for="img" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Produtos no Estoque:</label>
            <input asp-for="estoque" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Funcionário (ID do Adm):</label>
            <input asp-for="idAdm" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary w-100 rounded-pill">Salvar Alterações</button>
    </form>
</div>



